.App {
  text-align: center;
  background-image: url(../public/images/wallpaper.jpg);
  background-size: cover;
  background-position: top;
  min-height: 100%;
  height: 100vh;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  font-size: 50px;
  text-shadow: 1px 2px #61dafb;
  margin-top: 0%;
}

.fa {
  color: #61dafb;
}

.icon {
  margin-left: 3rem; /* 4px */
}

.row{
  margin-top: 14px;
}